.button {
   width: 47px;
   height: 47px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #F1F2F8;
   border-radius: 12px;
   box-shadow:
    -4px -4px 4px 0 #fff,
    4px 4px 10px 0 rgba(22, 25, 36, 0.1);
  outline: none;
  cursor: pointer;
  border: none;
  padding: 0;

  svg {
    fill: #0D8AFC;
  }
}
